body{
  background-color: #fed600;
}
div{
/*  border: dashed 1px;   */
}

.container {
  background: url(../img/WCFB_background2x.jpg) no-repeat center top;
  background-size: 100% auto;
  background-color: #fed600;
  overflow:hidden;
  z-index: 100;
  position: relative;
}

@font-face {
  font-family: "regular_rotalic";
  src: url(../fonts/GT-Haptik-Regular-Rotalic.woff) format('woff');
}

@font-face {
  font-family: "light_rotalic";
  src: url(../fonts/GT-Haptik-Light-Rotalic.woff) format('woff');
}

@font-face {
  font-family: "medium_rotalic";
  src: url(../fonts/GT-Haptik-Medium-Rotalic.woff) format('woff');
}

.regular_rotalic{
  font-family: regular_rotalic;
}
.light_rotalic{
  font-family: light_rotalic;
}
.medium_rotalic{
  font-family: medium_rotalic;
}

.title_text{
  font-size: 1.35vw;
}
.normal_text{
  font-size: 1.22vw;
}
.small_text{
  font-size: 0.81vw;
}
.red_text{
  color:#ed1a55;
}
.blue_text{
  color: #00b3f0;
}
.line_height{
  line-height:175%;
}
#menu_text{
  font-family: regular_rotalic;
}
#footer_text{
  font-family: regular_rotalic;
}
.precrtaj{
  text-decoration:line-through;
}
.no_underline{
  text-decoration: none;
}

div.vektor{
  width: 20%;
  margin-left: -9%;
  margin-right: 1.5%;
  margin-top: 12%;
  margin-bottom: -300%;
  z-index: 100;
  position:relative;
  vertical-align:top;
  display: inline-block;
  float: right;
}
.enlarge_cross{
  -webkit-transition: all 0.2s ease; /* Safari and Chrome */
  -moz-transition: all 0.2s ease; /* Firefox */
  -ms-transition: all 0.2s ease; /* IE 9 */
  -o-transition: all 0.2s ease; /* Opera */
  transition: all 0.2s ease;
}
.enlarge_cross:hover{
  font-size: 110%;
  text-decoration: line-through;
}
.enlarge{
  -webkit-transition: all 0.2s ease; /* Safari and Chrome */
  -moz-transition: all 0.2s ease; /* Firefox */
  -ms-transition: all 0.2s ease; /* IE 9 */
  -o-transition: all 0.2s ease; /* Opera */
  transition: all 0.2s ease;
}
.enlarge:hover{
  font-size: 110%;
}

div.beer_can {
  width:40.2%;
  margin-top: 0%;
  vertical-align:top;
  display: inline-block;
}
.gif {
  width: 100%;
}
.mp4 {
  width: 100%;
}
div.rock_stage{
  width: 35%;
  margin-left: -12%;
  margin-top: 10%;
  vertical-align:top;
  display: inline-block;
}
div.datum {
  width:20%;
  margin-top:5%;
  vertical-align:top;
  display: inline-block;
}

div.facebook{
  width:2.7%;
  margin-left: 11%;
  margin-top: -2%;
  vertical-align:top;
  display: inline-block;
}
.facebook img{
  -webkit-transition: all 0.2s ease; /* Safari and Chrome */
  -moz-transition: all 0.2s ease; /* Firefox */
  -ms-transition: all 0.2s ease; /* IE 9 */
  -o-transition: all 0.2s ease; /* Opera */
  transition: all 0.2s ease;
}
.facebook:hover img{
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
   transform:scale(1.1);

}
div.logo {
  width:21%;
  margin-left: 9%;
  margin-top: -3.5%;
  vertical-align:top;
  display: inline-block;
}
div.opis_festivala {
  margin-left:9.5%;
	margin-top: -3%;
  /* Rotate div */
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
  transform: rotate(5deg);
  vertical-align:top;
  display: inline-block;
}

div.bevog_brewery{
  width: 30%;
  margin-left: 26%;
  margin-top: -5%;
  vertical-align:top;
  display: inline-block;
}
div.slika1{
  width: 15%;
  margin-left: 60%;
  margin-top: -12%;
  vertical-align:top;
  display: inline-block;
}
.mp4{
  width: 100%;
}
div.how_to_get_to_festival{
  width: 7%;
  margin-left: 3%;
  margin-top: -9%;
  vertical-align:top;
  display: inline-block;
}

div.Col-3{
  margin-top: -10%;
}
div.slika2{
  width: 24%;
  margin-left: 24%;
  margin-top: 1%;
  vertical-align:top;
  display: inline-block;
}
div.lokacija{
  margin-left: 6%;
  margin-top: 2%;
  vertical-align:top;
  display: inline-block;
  -ms-transform: rotate(355deg); /* IE 9 */
  -webkit-transform: rotate(355deg); /* Chrome, Safari, Opera */
  transform: rotate(355deg);
}

div.the_best_craft_breweries{
  width: 10%;
  margin-left: 18%;
  margin-top: 4%;
  vertical-align:top;
  display: inline-block;  
  -ms-transform: rotate(-6deg); /* IE 9 */
  -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
  transform: rotate(-6deg);
}
div.breweries{
  margin-left: 2%;
  margin-top: 5%;
  vertical-align:top;
  display: inline-block;
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
  transform: rotate(3deg);
}
div.slika3{
  width: 20%;
  margin-top: 8%;
  margin-left: 2%;
  vertical-align:top;
  display: inline-block;
}

div.Col-5{
  margin-top: 5%;
}
div.more_than_70_beers{
  width: 25%;
  margin-left: 14%;
  margin-top: -2%;
  vertical-align:top;
  display: inline-block;
}
div.conference{
  margin-top: 5%;
  margin-left: -14%;
  vertical-align:top;
  display: inline-block; 
  -ms-transform: rotate(356deg); /* IE 9 */
  -webkit-transform: rotate(356deg); /* Chrome, Safari, Opera */
  transform: rotate(356deg);
}
div.kids{
  margin-left: 5%;
  margin-top: 3%;
  vertical-align:top;
  display: inline-block; 
  -ms-transform: rotate(356deg); /* IE 9 */
  -webkit-transform: rotate(356deg); /* Chrome, Safari, Opera */
  transform: rotate(356deg);
}

div.Col-6{
  margin-top: 8%;
}
div.slika4{
  width: 26%;
  margin-left: 24%;
  margin-top: -6%;
  vertical-align:top;
  display: inline-block; 
}
div.music{
  margin-top: 3%;
  margin-left: 6%;
  vertical-align:top;
  display: inline-block; 
  -ms-transform: rotate(356deg); /* IE 9 */
  -webkit-transform: rotate(356deg); /* Chrome, Safari, Opera */
  transform: rotate(356deg);
}
div.awesome_rock_stage{
  width: 8%;
  margin-left: -5%;
  margin-top: -8%;
  vertical-align:top;
  display: inline-block;
}

div.Col-7{
  margin-top: 7%;
}
div.slika5{
  width: 15%;
  margin-left: 8%;
  vertical-align:top;
  display: inline-block; 
}
div.golar{
  margin-top: 13%;
  margin-left: 28%;
  vertical-align:top;
  display: inline-block; 
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  transform: rotate(2deg);
}
div.delicious_food{
  width: 28%;
  margin-left: -28%;
  margin-top: -3%;
  vertical-align:top;
  display: inline-block;
}

div.Col-8{
  margin-top: 12%;
}
div.timeline{
  width: 18%;
  margin-left: 10%;
  margin-top: -8%;
  vertical-align:top;
  display: inline-block;
}
div.time_table{
  margin-left: 0%;
  vertical-align:top;
  display: inline-block; 
  -ms-transform: rotate(355deg); /* IE 9 */
  -webkit-transform: rotate(355deg); /* Chrome, Safari, Opera */
  transform: rotate(355deg);
}
div.band_time_table{
  margin-left: 8%;
  margin-top: -2%;
  vertical-align:top;
  display: inline-block; 
  -ms-transform: rotate(355deg); /* IE 9 */
  -webkit-transform: rotate(355deg); /* Chrome, Safari, Opera */
  transform: rotate(355deg);
}

div.Col-9{
  margin-top: 7%;
}
div.rules1{
  margin-left: 30.5%;
  margin-top: 2.5%;
  margin-bottom: 10%;
  vertical-align:top;
  display: inline-block; 
  -ms-transform: rotate(355deg); /* IE 9 */
  -webkit-transform: rotate(355deg); /* Chrome, Safari, Opera */
  transform: rotate(355deg);
}
div.contact{
  width: 20%;
  margin-top: 0%;
  margin-left: 8%;
  vertical-align:top;
  display: inline-block; 
  -ms-transform: rotate(355deg); /* IE 9 */
  -webkit-transform: rotate(355deg); /* Chrome, Safari, Opera */
  transform: rotate(355deg);
}
.vnos{
  width: 100%;
  resize: none;                   /* No resize */
  overflow: hidden;               /* No scroller */
  border: solid 1px #00b3f0;
  background-color: transparent;
  margin-bottom: 5%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.vnos:focus{
  outline: none !important;
  border: solid 1px #ed1a55;
}
.tipka{
  border: solid 1px #00b3f0;
  background-color: transparent;
  cursor:pointer;
}
.tipka:hover{
  background-color: #00b3f0;
  color: white;
}


div.footer{
  width: 38%;
  margin-left: 21%;
  position:absolute;
  bottom: 2%;
}
#footer_bevog{
  fill:#00b3f0;
}
.footer_svg{
  overflow: visible;
}



/* do not group these rules */
*::-webkit-input-placeholder {
    color: #7fd9f7;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #7fd9f7;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #7fd9f7;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #7fd9f7;
}

/*@media (min-width: 768px) { */
@media (min-width: 0px) { 
  .container {
      width: 750px;
      margin: 0 auto;
      height: 2320px;
  }
  .title_text {
    font-size: 10.4px;
  }
  .normal_text {
    font-size: 9.4px;
  }
  .small_text {
    font-size: 6.2px;
  }
}

@media (min-width: 992px) { 
  .container {
      width: 970px;
      margin: 0 auto;
      height: 3000px;
  }
  .title_text {
    font-size: 13.5px;
  }
  .normal_text {
    font-size: 12.2px;
  }
  .small_text {
    font-size: 8.1px;
  }
}

@media (min-width: 1200px) { 
  .container {
      width: 1170px;
      margin: 0 auto;
      height: 3620px;
  }
  .title_text {
    font-size: 16.3px;
  }
  .normal_text {
    font-size: 14.7px;
  }
  .small_text {
    font-size: 9.8px;
  }
}

@media (min-width: 1460px) {
  .container {
      width: 1430px;
      margin: 0 auto;
      height: 4420px;
  }
  .title_text {
    font-size: 20px;
  }
  .normal_text {
    font-size: 18px;
  }
  .small_text {
    font-size: 12px;
  }
}


/* nicer preload of page*/
#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: #fed600;
   z-index: 999; /* Higher than anything else in the document */

 }