* {
    margin: 0px;
    padding: 0px;
 }

.triglav_lab_ad_160x600_image-holder{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:0 auto;
    position: absolute;
}

.head-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}